.social-style {
  color: var(--vs-white-color);
  display: inline-flex;
  align-items: center;
  &__label {
    font-weight: 700;
    text-transform: capitalize;
    margin-right: 12px;
  }
  a {
    --icon-size: 32px;
    background-color: rgba(255, 255, 255, 40%);
    border: 3px dashed rgba(255, 255, 255, 40%);
    min-width: var(--icon-size);
    min-height: var(--icon-size);
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    color: var(--vs-white-color);
    font-size: 14px;
    margin-right: 7px;
    transition: all ease 0.4s;
    &:last-child {
      margin-right: 0;
    }
    &:hover {
      background-color: $vs-theme-color2;
    }
  }
  &--version2 {
    a {
      --icon-size: 36px !important;
    }
  }
}
