.vs-header {
  position: relative;
  z-index: 41;
  &__top {
    background-color: $vs-theme-color1;
    padding: 9px 0;
  }
  &__info {
    display: flex;
    align-items: center;
    gap: 13px;
    color: var(--vs-white-color);
    span {
      font-weight: 700;
      font-family: var(--vs-title-font);
    }
    a {
      color: var(--vs-white-color);
      &:hover {
        color: var(--vs-theme-color5);
      }
    }
  }
  &__action {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    gap: 10px;
    margin-left: 35px;
  }
}
