@each $textColorsMap, $value in $textColorsMap {
  .text-#{$textColorsMap} {
    color: #{$value} !important;
  }
}

.text-inherit {
  color: inherit;
  &:hover {
    color: $vs-theme-color1;
  }
}

a.text-theme,
.text-reset {
  &:hover {
    text-decoration: underline;
  }
}

.vs-text-light {
  color: var(--vs-text-color);
}

.text-theme-color1 {
  color: $vs-theme-color1;
}
.text-theme-color2 {
  color: $vs-theme-color2;
}
.text-theme-color3 {
  color: $vs-theme-color3;
}
.text-theme-color4 {
  color: $vs-theme-color4;
}
.text-theme-color5 {
  color: $vs-theme-color5;
}
