<ul>
    <li class="menu-item-has-children">
        <a class="vs-svg-assets active" data-svg-assets="assets/img/elements/element-header-menu-bg.svg"
            href="index.html">HOME</a>
        <ul class="sub-menu">
            <li><a href="index.html">Home 01</a></li>
            <li><a href="index-2.html">Home 02</a></li>
            <li><a href="index-3.html">Home 03</a></li>
        </ul>
    </li>
    <li>
        <a class="vs-svg-assets" data-svg-assets="assets/img/elements/element-header-menu-bg.svg"
            href="about.html">About</a>
    </li>
    <li class="menu-item-has-children mega-menu-wrap">
        <a class="vs-svg-assets" data-svg-assets="assets/img/elements/element-header-menu-bg.svg"
            href="javascript:void(0)">Pages</a>
        <ul class="mega-menu">
            <li><a href="javascript:void(0)">Page List 1</a>
                <ul>
                    <li><a href="index.html">Home 01</a></li>
                    <li><a href="index-2.html">Home 02</a></li>
                    <li><a href="index-3.html">Home 03</a></li>
                    <li><a href="about.html">About Us</a></li>
                    <li><a href="service.html">Services</a></li>
                    <li><a href="single-service.html">Service Details</a></li>
                </ul>
            </li>
            <li><a href="javascript:void(0)">Page List 2</a>
                <ul>
                    <li><a href="team.html">Our Team</a></li>
                    <li><a href="team-details.html">Team Details</a></li>
                    <li><a href="tournament-list.html">Tournament</a></li>
                    <li><a href="single-match.html">Match Details</a></li>
                    <li><a href="blog.html">Blog</a></li>
                    <li><a href="blog-details.html">Blog Details</a></li>
                </ul>
            </li>
            <li><a href="javascript:void(0)">Page List 3</a>
                <ul>
                    <li><a href="faq.html">FAQ's</a></li>
                    <li><a href="shop.html">Main Shop</a></li>
                    <li><a href="shop-details.html">Shop Details</a></li>
                    <li><a href="shop-nft.html">Shop NFT</a></li>
                    <li><a href="nft-shop.html">Shop NFT Details</a></li>
                    <li><a href="cart.html">Cart</a></li>
                </ul>
            </li>
            <li><a href="javascript:void(0)">Page List 4</a>
                <ul>
                    <li><a href="checkout.html">Checkout</a></li>
                    <li><a href="wishlist.html">Wishlist</a></li>
                    <li><a href="comming-soon.html">Coming Soon</a></li>
                    <li><a href="contact.html">Contact Us</a></li>
                    <li><a href="404.html">404 Page</a></li>
                </ul>
            </li>
        </ul>
    </li>
    <li class="menu-item-has-children">
        <a class="vs-svg-assets" data-svg-assets="assets/img/elements/element-header-menu-bg.svg"
            href="shop.html">shop</a>
        <ul class="sub-menu">
            <li><a href="shop.html">Main Shop</a></li>
            <li><a href="shop-details.html">Shop Details</a></li>
            <li><a href="shop-nft.html">NFT Shop</a></li>
            <li><a href="nft-shop.html">NFT Details</a></li>
        </ul>
    </li>
    <li class="menu-item-has-children">
        <a class="vs-svg-assets" data-svg-assets="assets/img/elements/element-header-menu-bg.svg"
            href="blog.html">blog</a>
        <ul class="sub-menu">
            <li><a href="blog.html">Blog</a></li>
            <li><a href="blog-details.html">Blog Details</a></li>
        </ul>
    </li>
    <li>
        <a class="vs-svg-assets" data-svg-assets="assets/img/elements/element-header-menu-bg.svg"
            href="contact.html">contact</a>
    </li>
</ul>